<div class="col-md-3"></div>
<div class="col-md-9">
  
    <div>
        <h3>Assignment Overview...</h3>
        <p>Write a sample programs using Angular JS/ JavaScript for web application with standard header and footer.<br />Application will have two link as below:</p>
    <p>1) <strong>How it works?</strong><br />2) <strong>User List</strong></p>
    <p><br />Page content:<br />1) How It works: <strong>Read only information will be here with dummy text.</strong> <br />2) User list: <strong>Show all existing user list in grid.</strong></p>
    <p>Grid columns would be as below: <br /><strong>a) First Name b) Last Name c) Username d) City e) Department.</strong></p>
    <p>Table/grid should have <strong>sorting, column filter and pagination</strong> (sorting, column filter for each column)</p>
    <p>2.1) <strong>Add New User</strong> (Button): Once you click on add new user, show form including same field giving above.<br />Provide save button. After click on save new records should be <strong>stored in database / shown in user list</strong>.</p>
    <p>You can use any type of database / temporary storage / mock data.</p>
      </div>
<div>
  <div>
<hr>
    
<h3>How Suraj Solve it !!</h3>
<div>Created Component for</div>
<div><strong>Header, left side menu, Dashboard, UserDetails, Add User</strong></div>
<div>&nbsp;</div>
<div>Used JSON Server for storing data on client machine&nbsp;</div>
<div><a href="https://github.com/typicode/json-server">json-server</a></div>
<div>crudjson/jsonserver/<strong>userlist.json</strong></div>
<div>&nbsp;</div>
<div><strong>API calls using</strong></div>
<div>Get, Post&nbsp;</div>
<div>&nbsp;</div>
<div><strong>Bootstrap</strong> Css user for</div>
<div>Table, Buttons, input box.</div>
<div>&nbsp;</div>
<div>For <strong>Sorting</strong> used</div>
<div><a href="https://github.com/VadimDez/ngx-order-pipe">ngx-order-pipe</a></div>
<div>
<p>For <strong>Pagination</strong> used<br /><a href="https://www.npmjs.com/package/ngx-pagination">ngx-pagination</a></p>
</div>
  </div>
</div>

</div>
